body {
  background-color:#4EC0CC;
}
#program-pair {
  display:none;
}

#list {
  display:none;
  list-style-type: square;
}
#result-info {
  display:none;
}
label {
  text-align: center;
}
#btn {
  float:right;
  font-weight:lighter;
}
#name{
  font-weight: lighter;
}
#result{
  font-weight: bold;
}
#result-info {
  font-weight: bold;
}
#color {
  width:300px;
}
#result-info {
  list-style-type: square;
}
